<div class="card py-5 px-4 shadow container w-50 mt-5" novalidate>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <h1 class="mb-3">Persönliche Daten</h1>

    <div class="mb-2">
      <label for="name" class="form-label">Name <span class="text-danger" *ngIf="nameIsRequired">*</span></label>
      <input type="text" class="form-control"
        [ngClass]="nameFormControl.touched || nameFormControl.dirty ? (nameIsValid ? 'is-valid' : 'is-invalid') : ''"
        formControlName="name" id="name" aria-describedby="name-feedback">
      <div id="name-feedback" class="invalid-feedback">
        {{nameErrors}}
      </div>
      <div id="name-feedback" class="valid-feedback">
        alles klar sieht gut aus
      </div>
    </div>

    <div class="mb-2">
      <label for="date" class="form-label">Geburtsdatum <span class="text-danger"
          *ngIf="dateIsRequired">*</span></label>
      <input type="date" class="form-control"
        [ngClass]="dateFormControl.touched || dateFormControl.dirty ? (dateIsValid ? 'is-valid' : 'is-invalid') : ''"
        formControlName="date" id="date" aria-describedby="date-feedback">
      <div id="date-feedback" class="invalid-feedback">
        {{dateErrors}}
      </div>
      <div id="date-feedback" class="valid-feedback">
        alles klar sieht gut aus
      </div>
    </div>

    <div class="mb-2">
      <div>
        <label for="placeOfBirth" class="form-label" aria-required="placeOfBirthIsRequired">Geburtsort</label>
        <span ngbPopover="Der Ort an dem du Geboren wurdest." triggers="mouseenter:mouseleave" aria-haspopup="true">
          ❓
        </span>
      </div>
      <input type="text" class="form-control" formControlName="placeOfBirth" id="placeOfBirth">
    </div>

    <div>
      <button [disabled]="form.invalid" class="btn btn-primary" type="submit">Abschicken</button>
    </div>
  </form>
</div>
